name: Build

on:
  push:
  pull_request:

permissions:
  contents: read

env:
  SOLUTION_FILE_PATH: tools/Kamek/Kamek/Kamek.sln

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - name: Checkout Kokeshi repository
      uses: actions/checkout@v3
      with:
        repository: 'PackProject/Kamek'
        path: 'tools/'

    - name: Checkout Kamek repository
      uses: actions/checkout@v3

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v1.0.2

    - name: Restore NuGet packages
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: nuget restore ${{env.SOLUTION_FILE_PATH}}

    - name: Build Kamek
      run: msbuild /m /p:Configuration=Debug ${{env.SOLUTION_FILE_PATH}}
    - name: Install Kamek
      run: mv tools/Kamek/Kamek/bin/Debug/net6.0/* tools

    - name: Download compilers
      run: curl -L '${{ secrets.COMPILERS }}' | tar -xvf- -C tools
    - name: Install CW for Wii 1.7
      run: mv tools/Wii/1.7/* tools

    - name: Build the code
      run: make CI=1
